{# templates/Portfolio/wordpress.html.twig #}

{% extends "base.html.twig" %}

{% block title %}Accueil | {{ parent() }}{% endblock %}


{% block body %}

{% block content %}
{% include "Portfolio/navbar.html.twig" %}  

<div class="container">       
 

        <div class=" d-flex justify-content-around pt-7">

            <div class="col- col-sm- col-md- col-lg- col-xl-2">
                <p class="fts5 mt-4 "><span class="border-bottom border-dark">wordpress</span></p>

                <p class="fts5 pt-7 "><a href="{{ path('projet_wordpress') }}">Mes projets</a></p>
            </div>

            <div class="col- col-sm- col-md- col-lg- col-xl-6">
                <p class="fts6 mt-4 text-center">Quelques aperçus de mes projets</p>
                <div class="slider-wrapper">
                    <div class="slider-item blueasy">
                        <img src="image/lovehouse.jpg" class="img-slider  border border-dark">
                    </div>                   
                </div>

                <nav class="slider-nav text-center m-0 p-0">
                    <button class="slider-previous">
                        Précédent
                    </button>
                    <button class="slider-next">
                        Suivant
                    </button>
                    <button class="slider-restart">
                        Reprendre
                    </button>
                </nav>
            </div>


            <div class="d-flex justify-content-end pt-7">
                <div class="nav-competence">
                    <div class=" d-flex justify-content-end fts5 ">
                        <button class="button-bootstrap"><a href="{{ path('bootstrap') }}"><span>B</span></a></button>
                    </div>

                    <div class=" d-flex justify-content-end fts5">
                        <button class="button-javascript"><a href="{{ path('javascript') }}"><span>J</span></a></button>
                    </div>

                    <div class=" d-flex justify-content-end fts5">
                        <button class="button-php"><a href="{{ path('php') }}"><span>P</span></a></button>
                    </div>

                    <div class=" d-flex justify-content-end fts5">
                        <button class="button-symfony"><a href="{{ path('symfony') }}"><span>S</span></a></button>
                    </div>

                    <div class=" d-flex justify-content-end fts5">
                        <button class="button-wordpress"><a href="{{ path('wordpress') }}"><span>W</span></a></button>
                    </div>
                </div>
            </div>   
        </div>
    </div>    
</div>
 
{% endblock %}

    {% block scripts %}
        <script>

            let prevBtn = document.querySelector('.slider-previous');
            let nextBtn = document.querySelector('.slider-next');
            let sliderWrapper = document.querySelector('.slider-wrapper')
            let restart = document.querySelector('.slider-restart')
            let slide = document.querySelectorAll('.slider-item');
            let sliderLength = slide.length;
            let counter = 0;
            let delay = setInterval(sliding, 1000)

            slide[counter].classList.add('active');

            //BTN SUIVANT
            nextBtn.addEventListener('click', () => {
                clearInterval(delay);
                slide[counter].classList.remove('active');
                counter++;
                if (counter >= sliderLength) {
                    counter = 0;
                }
                slide[counter].classList.add('active');
            });

            //BTN PRECEDENT
            prevBtn.addEventListener('click', () => {
                clearInterval(delay);
                slide[counter].classList.remove('active');
                counter--;
                if (counter < 0) {
                    counter = sliderLength - 1;
                }
                slide[counter].classList.add('active');
            });

            //FUNCTION AUTOSLIDE
            function sliding() {
                slide[counter].classList.remove('active');
                counter++;
                if (counter >= sliderLength) {
                    counter = 0;
                }
                slide[counter].classList.add('active');
            }

            //SURVOL
            sliderWrapper.addEventListener('mouseenter', () => {
                clearInterval(delay);
            })

            //ON QUITTE LE SURVOL
            sliderWrapper.addEventListener('mouseleave', () => {
                delay = setInterval(sliding, 1000)
            })

            //BTN RESTART
            restart.addEventListener('click', () => {
                delay = setInterval(sliding, 1000)
            })
        </script>
    {% endblock %} 
  {% include "Portfolio/index.html.twig" %} 
{% endblock %}

           